node-red/SBL API TEST READ SAVE DATA.json
[
    {
        "id": "ff1c050944a72acc",
        "type": "tab",
        "label": "SBL TEST READ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b740972afad9c80f",
        "type": "OpcUa-Client",
        "z": "ff1c050944a72acc",
        "endpoint": "70e5eab3ca07fd09",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "1",
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "OPC UA READ",
        "x": 700,
        "y": 120,
        "wires": [
            [
                "eda187174511f1fc"
            ]
        ]
    },
    {
        "id": "1c96861f9acae68f",
        "type": "http in",
        "z": "ff1c050944a72acc",
        "name": "Read Data Tags",
        "url": "/sbl_tags/readTagData",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "2bc4c2be37974da6"
            ]
        ]
    },
    {
        "id": "d0af80dd60d5fa03",
        "type": "function",
        "z": "ff1c050944a72acc",
        "name": "Subscribe Tags",
        "func": "\nmsg.topic = msg.payload.data.tag;\nmsg.datatype = msg.payload.data.type;\n\nreturn msg;\n\n// return {\n//     topic: msg.payload.data.tag,\n//     datatype: msg.payload.data.type,\n// };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 120,
        "wires": [
            [
                "b740972afad9c80f"
            ]
        ]
    },
    {
        "id": "0b713404ecc9906c",
        "type": "http response",
        "z": "ff1c050944a72acc",
        "name": "Response success",
        "statusCode": "200",
        "headers": {
            "content-type": "text/plain"
        },
        "x": 1210,
        "y": 120,
        "wires": []
    },
    {
        "id": "eda187174511f1fc",
        "type": "function",
        "z": "ff1c050944a72acc",
        "name": "",
        "func": "\nlet ajaxData = {\n    data: msg.payload\n};\n\nmsg.payload = ajaxData;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 120,
        "wires": [
            [
                "204619b99613d6d0"
            ]
        ]
    },
    {
        "id": "204619b99613d6d0",
        "type": "json",
        "z": "ff1c050944a72acc",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1030,
        "y": 120,
        "wires": [
            [
                "0b713404ecc9906c"
            ]
        ]
    },
    {
        "id": "869d958163b240c4",
        "type": "OpcUa-Client",
        "z": "ff1c050944a72acc",
        "endpoint": "70e5eab3ca07fd09",
        "action": "subscribe",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "1",
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "OPC UA SERVER",
        "x": 310,
        "y": 400,
        "wires": [
            [
                "1c860b1abc6de769"
            ]
        ]
    },
    {
        "id": "40c946db0146a716",
        "type": "catch",
        "z": "ff1c050944a72acc",
        "name": "",
        "scope": [
            "b740972afad9c80f"
        ],
        "uncaught": false,
        "x": 130,
        "y": 400,
        "wires": [
            [
                "869d958163b240c4"
            ]
        ]
    },
    {
        "id": "2bc4c2be37974da6",
        "type": "json",
        "z": "ff1c050944a72acc",
        "name": "",
        "property": "payload.data",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "d0af80dd60d5fa03"
            ]
        ]
    },
    {
        "id": "1c860b1abc6de769",
        "type": "debug",
        "z": "ff1c050944a72acc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 400,
        "wires": []
    },
    {
        "id": "0bea891936837895",
        "type": "http in",
        "z": "ff1c050944a72acc",
        "name": "Save Data Tags",
        "url": "/sbl_tags/saveTagData",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "04154805fbe55f1a",
                "6d372c5cb2729062"
            ]
        ]
    },
    {
        "id": "04154805fbe55f1a",
        "type": "function",
        "z": "ff1c050944a72acc",
        "name": "generate Querys",
        "func": "\nlet procecedData = msg.payload.procecedData;\nlet group = msg.payload.group.toLowerCase();\n\nlet query = \"\";\n\nif(group === \"oee\"){\n    query = `INSERT INTO oee VALUES(${procecedData.join(\",\")})`;\n} else if(group === \"events\"){\n    query = `INSERT INTO events VALUES(${procecedData.join(\",\")})`;\n} else {\n    query = `INSERT INTO trends VALUES(${procecedData.join(\",\")})`;\n}\n\nmsg.payload = query;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 240,
        "wires": [
            [
                "a5eb0940a46b1097",
                "6976be2c3e95d72b"
            ]
        ]
    },
    {
        "id": "321e3523e681d1d5",
        "type": "comment",
        "z": "ff1c050944a72acc",
        "name": "En esta linea se obtiene la informacion necesaria para el registro de en la base de datos.",
        "info": "",
        "x": 390,
        "y": 80,
        "wires": []
    },
    {
        "id": "299573a132491239",
        "type": "comment",
        "z": "ff1c050944a72acc",
        "name": "En esta linea se manda la informacion recaba por el proceso anterior a la base de datos",
        "info": "",
        "x": 380,
        "y": 200,
        "wires": []
    },
    {
        "id": "1f62266c3ca1651f",
        "type": "comment",
        "z": "ff1c050944a72acc",
        "name": "Esta linea incializa una subscripcion al PLC para obtener la informacion por lectura",
        "info": "",
        "x": 370,
        "y": 360,
        "wires": []
    },
    {
        "id": "a5eb0940a46b1097",
        "type": "MSSQL",
        "z": "ff1c050944a72acc",
        "mssqlCN": "c348a9ce75afb6ad",
        "name": "",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "query": "",
        "modeOpt": "queryMode",
        "modeOptType": "query",
        "queryOpt": "payload",
        "queryOptType": "editor",
        "paramsOpt": "queryParams",
        "paramsOptType": "none",
        "rows": "rows",
        "rowsType": "msg",
        "params": [],
        "x": 580,
        "y": 240,
        "wires": [
            [
                "5603a2a5f35be087"
            ]
        ]
    },
    {
        "id": "ba17b87dca9fb337",
        "type": "http response",
        "z": "ff1c050944a72acc",
        "name": "Response success",
        "statusCode": "200",
        "headers": {
            "content-type": "text/plain"
        },
        "x": 1090,
        "y": 240,
        "wires": []
    },
    {
        "id": "5603a2a5f35be087",
        "type": "function",
        "z": "ff1c050944a72acc",
        "name": "",
        "func": "\nlet ajaxData = {\n    response: \"Data saved successfully\"\n};\n\nmsg.payload = ajaxData;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 240,
        "wires": [
            [
                "23728af8e717467f"
            ]
        ]
    },
    {
        "id": "23728af8e717467f",
        "type": "json",
        "z": "ff1c050944a72acc",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 910,
        "y": 240,
        "wires": [
            [
                "ba17b87dca9fb337"
            ]
        ]
    },
    {
        "id": "6976be2c3e95d72b",
        "type": "debug",
        "z": "ff1c050944a72acc",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 280,
        "wires": []
    },
    {
        "id": "6d372c5cb2729062",
        "type": "debug",
        "z": "ff1c050944a72acc",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 280,
        "wires": []
    },
    {
        "id": "b3bae93fa7029e57",
        "type": "catch",
        "z": "ff1c050944a72acc",
        "name": "",
        "scope": [
            "b740972afad9c80f"
        ],
        "uncaught": false,
        "x": 130,
        "y": 500,
        "wires": [
            [
                "db113c2b778b0b16"
            ]
        ]
    },
    {
        "id": "db113c2b778b0b16",
        "type": "function",
        "z": "ff1c050944a72acc",
        "name": "",
        "func": "\n// let ajaxData = {\n//     response: \"Ocurrio un error al obtener la informaci贸n del PLC, contactar con soporte tecnico\"\n// };\n\n// msg.payload = ajaxData;\n\nmsg.payload = \"Ocurrio un error al obtener la informaci贸n del PLC, contactar con soporte tecnico\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 500,
        "wires": [
            [
                "7e3a47e5d29eccc2"
            ]
        ]
    },
    {
        "id": "3d9db0a1496265fa",
        "type": "catch",
        "z": "ff1c050944a72acc",
        "name": "",
        "scope": [
            "a5eb0940a46b1097"
        ],
        "uncaught": false,
        "x": 130,
        "y": 460,
        "wires": [
            [
                "017519014da74aad"
            ]
        ]
    },
    {
        "id": "f5ef486746bb3c6d",
        "type": "http response",
        "z": "ff1c050944a72acc",
        "name": "Response Error",
        "statusCode": "500",
        "headers": {
            "content-type": "text/plain"
        },
        "x": 600,
        "y": 480,
        "wires": []
    },
    {
        "id": "017519014da74aad",
        "type": "function",
        "z": "ff1c050944a72acc",
        "name": "",
        "func": "\n// let ajaxData = {\n//     response: \"Ocurrio un error al guardar la informaci贸n, contactar con soporte tecnico\"\n// };\n\n// msg.payload = ajaxData;\n\nmsg.payload = \"Ocurrio un error al guardar la informaci贸n, contactar con soporte tecnico\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 460,
        "wires": [
            [
                "7e3a47e5d29eccc2"
            ]
        ]
    },
    {
        "id": "7e3a47e5d29eccc2",
        "type": "json",
        "z": "ff1c050944a72acc",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 430,
        "y": 480,
        "wires": [
            [
                "f5ef486746bb3c6d"
            ]
        ]
    },
    {
        "id": "70e5eab3ca07fd09",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://DESKTOP-2922AB8:4990/FactoryTalkLinxGateway1",
        "secpol": "None",
        "secmode": "None",
        "none": false,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "c348a9ce75afb6ad",
        "type": "MSSQL-CN",
        "tdsVersion": "7_4",
        "name": "SBL_TEST",
        "server": "localhost",
        "port": "1433",
        "encyption": false,
        "trustServerCertificate": false,
        "database": "sbl_test",
        "useUTC": true,
        "connectTimeout": "15000",
        "requestTimeout": "15000",
        "cancelTimeout": "5000",
        "pool": "5",
        "parseJSON": false,
        "enableArithAbort": true
    }
]